header.header
    .content
        .header_top
            .header_left
                ul.header-social_list
                    li.header-social_item
                        a(href="#") Vk
                    li.header-social_item
                        a(href="#") GitHub
                    li.header-social_item
                        a(href="#") In
            .header_right
                svg(width='100', height='100')
                    g#cross_svg
                        rect#Rectangle-1(x='0', y='0', width='48', height='2', fill='white', style='')
                        rect#Rectangle-2(x='0', y='14', width='48', height='2', fill='white', style='opacity: 1;')
                        rect#Rectangle-4(x='0', y='28', width='48', height='2', fill='white', style='')
        .header_center
            .user_photo
                img(src='#', alt='Фото')
            .user_info
                .user_info__name Фисун Вадим
                .user_info__description Личный сайт веб разработчика
        .header_bottom
            a(href="#") scroll down
