section.blog
    .content
        .wrap_blog
            aside.aside
                nav.nav
                    ul.nav_list
                        li.nav_item
                            a(href="#" class="blog_link") Самое важное в SASS
                        li.nav_item
                            a(href="#" class="blog_link") Приемы в верстке без которых не обходится не один сайт
                        li.nav_item
                            a(href="#" class="blog_link") Самый необходимый набор GULP плагинов
                        li.nav_item
                            a(href="#" class="blog_link") Почему я выбрал JADE
            .blog_post
                ul.blog_post-list
                    li.blog_post-item
                        .blog_post-title Самое важное в SASS
                        .blog_post-data 22 ноября 2016
                        .blog_post-description Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
                    li.blog_post-item
                        .blog_post-title Самое важное в SASS
                        .blog_post-data 22 ноября 2016
                        .blog_post-description Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.