section.about
    .content
        .about_title обо мне
        .about_user
            .about_user-photo
                img()
            .about_user-title кто я
            .about_user-description Я веб разработчик из Владивостока. Мне 21 год. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
        .about_development
            .about_development-title
            .about_development-description Больше всего меня привлекает Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
            .about_development-frontend
                .frontend-title Frontend
                ul.frontend-list
                    li.frontent-item html5
                        svg
                    li.frontent-item css3
                        svg
                    li.frontent-item JavaScript & jQuery
                        svg
            .about_development-backend
                .backend-title Backend
                    ul.frontend-list
                        li.frontent-item PHP
                            svg
                        li.frontent-item mySQL
                            svg
                        li.frontent-item Node.js & npm
                            svg
                        li.frontent-item Mongo.db
                            svg
            .about_development-WorkFlow
                .backend-title WorkFlow
                    ul.frontend-list
                        li.frontent-item Git
                            svg
                        li.frontent-item Gulp
                            svg
                        li.frontent-item Bower
                            svg