section.map
    .user_contact
        .contact-title Контакты
        ul.contact-list
            li.contact-item
                a(href="#") skype_knd
            li.contact-item
                a(href="#") fisun_vadim@outlook.com
            li.contact-item
                a(href="#") +7 924 323 10 88
            li.contact-item
                a(href="#") Владивосток, ул. Светланская