doctype html
html(lang='ru-RU')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Welcome
    body
        .wrapper
            .container
                header.header
                    .header_top
                        .header_left
                            ul.header-social_list
                                li.header-social_item
                                    a(href="#") Vk
                                li.header-social_item
                                    a(href="#") GitHub
                                li.header-social_item
                                    a(href="#") In
                        .header_right
                            svg(width='100', height='100')
                                g#cross_svg
                                    rect#Rectangle-1(x='0', y='0', width='48', height='2', fill='transparent', style='')
                                    rect#Rectangle-2(x='0', y='14', width='48', height='2', fill='transparent', style='opacity: 1;')
                                    rect#Rectangle-4(x='0', y='28', width='48', height='2', fill='transparent', style='')
                    .header_center
                        .user_photo
                            img(src='#', alt='Фото')
                        .user_info
                            .user_info__name Фисун Вадим
                            .user_info__description Личный сайт веб разработчика
                    .header_bottom
                        a(href="#") scroll down
                section.about
                    .about_title обо мне
                    .about_user
                        .about_user-photo
                            img()
                        .about_user-title кто я
                        .about_user-description Я веб разработчик из Владивостока. Мне 21 год. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                    .about_development
                        .about_development-title
                        .about_development-description Больше всего меня привлекает Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
                        .about_development-frontend
                            .frontend-title Frontend
                            ul.frontend-list
                                li.frontent-item html5
                                    svg
                                li.frontent-item css3
                                    svg
                                li.frontent-item JavaScript & jQuery
                                    svg
                        .about_development-backend
                            .backend-title Backend
                                ul.frontend-list
                                    li.frontent-item PHP
                                        svg
                                    li.frontent-item mySQL
                                        svg
                                    li.frontent-item Node.js & npm
                                        svg
                                    li.frontent-item Mongo.db
                                        svg
                        .about_development-WorkFlow
                            .backend-title WorkFlow
                                ul.frontend-list
                                    li.frontent-item Git
                                        svg
                                    li.frontent-item Gulp
                                        svg
                                    li.frontent-item Bower
                                        svg
                section.map
                    .user_contact
                        .contact-title Контакты
                        ul.contact-list
                            li.contact-item
                                a(href="#") skype_knd
                            li.contact-item
                                a(href="#") fisun_vadim@outlook.com
                            li.contact-item
                                a(href="#") +7 924 323 10 88
                            li.contact-item
                                a(href="#") Владивосток, ул. Светланская
        footer.footer
            .footer_left
                .copyright_top Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool
                .copyright_bottom Фисун Вадим Создано с любовью в LoftShool | 2016
            .footer_center
                .footer_center-top
                    ul.menu_list
                        li.menu_item
                            a(href='#') Мои работы
                        li.menu_item
                            a(href='#') Обо мне
                        li.menu_item
                            a(href='#') Блог
                .footer_center-bottom
                    ul.social_list
                        li.social_item
                            a(href='#') Вконтакте
                        li.social_item
                            a(href='#') Гит хаб
                        li.social_item
                            a(href='#') Линкед
            .footer_right
                ul.contact-list
                    li.contact-item
                        a(href="#") skype_knd
                    li.contact-item
                        a(href="#") fisun_vadim@outlook.com
                    li.contact-item
                        a(href="#") +7 924 323 10 88
                    li.contact-item
                        a(href="#") Владивосток, ул. Светланская