doctype html
html(lang='ru-RU')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Welcome
  body
    .wrapper
      header.header
        button Авторизоваться
      .content
        .quick_login
          .quick_login--top
            .user_photo
              img(src='#', alt='Фото')
            .user_info
              .user_info__name Фисун Вадим
              .user_info__description Личный сайт веб разработчика
            .user_social
              ul.social_list
                li.social_item
                  a(href='#') Вконтакте
                li.social_item
                  a(href='#') Гит хаб
                li.social_item
                  a(href='#') Линкед
          .quick_login--bottom
            ul.menu_list
              li.menu_item
                a(href='#') Мои работы
              li.menu_item
                a(href='#') Обо мне
              li.menu_item
                a(href='#') Блог
    footer.footer
      .copyright Фисун Вадим | Создано с любовью в LoftShool | 2016